.board {
  background: green;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.card {
  height: 145px;
  width: 100px;
}

.card img {
  max-width: 100%;
  max-height: 100%;
}